body{
background-color: black;
}

div{
    background: linear-gradient(90deg, rgb(51, 51, 51),rgb(31, 78, 78));
display: flex;
flex-direction: column;
width: 500px;
height: 300px;
}

.op{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
button{
    width: 70px;
    height: 22px;
    box-shadow: inset;
}
.tela{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
list-style-type: none;
}
.pv{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

label{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
text-align: center;
margin-right: 20px;
}
input{
    width: 180px;
    height: 15px;
}